.boxName{
	width: 200px;
	padding: 15px;
	background-color: #4aaaa5;
	color: white;
}

.main{
	background-color: gray;
}

.teal {color: #4aaaa5;}

.wrapperDoc {
    margin: auto;
    width: 960px;
    padding: 10px;
    background-color: gray;
}

.aboutmeBox{
	width: 650px;
	background-color: white;
	float: left;
	word-wrap: break-word;
}

.sidebarBox{
	width: 270px;
	background-color: white;
	float: right;
	text-align: center;
}

.buttons{
	background-color: white;
	float: right;
	al
}

.header{
	background-color: white;
	align-content: center;
	margin: 100%;
}

.socialicon{
	width: 80px;
	height: 80px;
}

.imgfix{
	border-style: solid;
	border-width: 40px;
	border-color: white;
}

